@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3b3a3a; 
}

.nav {
  background-color: #700052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  color: white; 
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav ul li {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
  border-radius: 7px;
  background-color: #1f1e1e;
}

.nav .link {
  text-decoration: none;
  color: white;
}


.container03 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px; 
  padding: 20px;
  background-color: #3B3A3A;
  min-height: 100vh;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 7px;
  background-color: #700052;
}

.forms input {
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: black;
  font-weight: bold;
}

.forms input::placeholder {
  color: black;
  font-weight: bold;
}

.forms button {
  color: white;
  background-color: #1f1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

.container03 h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.container03 p {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.custom-table {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: black;
  background-color: #3B3A3A;
}

.custom-table .rdt_TableHeadRow,
.custom-table .rdt_TableRow {
  color: black;
  background-color: #3B3A3A;
}

.custom-table .rdt_Pagination {
  background-color: #3B3A3A;
}

.botao{
  margin: 10px;
  color: black;
  font-weight: bold;
  padding: 7px;
  border-radius: 7px;
}

.select{
  color: black;
  font-weight: bold;
}

@media (min-width: 600px) {
  .nav {
    padding: 20px;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
  }

  .container01 {
    height: 100vh;
  }
}
